
  <md-content>
    <div layout="row" layout-sm="column" layout-align="center top">
      <div flex>
        <section>
          <h1>{{title}}</h1>
          <md-list>
            <div>
               <span ng-model="mission">
                 <b> Mission Name: </b> {{mission.name}}
               </span>
               <div class="md-list-item-text" layout="column">
                 <b>Astronauts:</b>
                 <h6>*Click to remove</h6>
                 <ul ng-repeat="astronaut in mission.astronauts" >
                   <li ng-click="removeAstronaut(astronaut)">
                     {{astronaut.name}}
                     <ul ng-show="astronaut.birthdate">
                       <li>Data nascimento:{{astronaut.birthdate}}</li>
                     </ul>
                   </li>
                 </ul>
               </div>
             </div>
           </md-list-item>
          </md-list>
        </section>
      </div>
      <div flex>
        <section >
          <md-list>
            <div>
               <div class="md-list-item-text" layout="column">
                 <b>Astronauts available to add to mission:</b>
                 <h6>*Click to add</h6>
                 <ul ng-repeat="astronaut in astronauts" >
                   <li>
                     <span ng-click="addAstronaut(astronaut)">{{astronaut.name}}</span>
                     <ul ng-show="astronaut.birthdate">
                       <li>Data nascimento:{{astronaut.birthdate}}</li>
                     </ul>
                   </li>
                 </ul>
               </div>
             </div>
           </md-list-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-content>

