
  <md-content>
    <section class="jumbotron">
      <h1>{{title}}</h1>
      <h6>*Double click on the name name for edit</h6>
      <form ng-submit="save()">
        <md-input-container>
          <label>Name: </label>
          <input ng-model="new_mission.name" type="text">
          <md-button class="md-primary md-raised" type="submit">
           Salvar
          </md-button>
        </md-input-container>
      </form>

      <md-list>
        <md-list-item class="md-3-line" ng-repeat="mission in missions" >
          <div class="md-list-item-text" layout="column">
            <form ng-submit="update()" ng-show="current_mission.id==mission.id">
              <input type="text" ng-model="current_mission.name">
              <button ng-click="setCurrent()">Cancelar</button>
              <button type="submit" ng-disabled="buttonDisabled" >Salvar</button>
            </form>
            <span ng-click="setCurrent(mission)" ng-hide="current_mission.id==mission.id">
              <b> Mission Name: </b> {{mission.name}}
            </span>
            <section class="layout-wrap layout-sm-column layout-align-center-center layout-row">
              <md-button class="md-primary md-raised" ng-click="remove(mission)" ng-hide="current_mission.id==mission.id">
                Delete
              </md-button>
              <md-button class="md-primary md-raised" ng-href="#/mission/{{mission.id}}" ng-hide="current_mission.id==mission.id">
                Show
              </md-button>
            </section>
         </div>
       </md-list-item>
      </md-list>
    </section>

  </md-content>

