
  <md-content>
    <section class="jumbotron">
      <h1>{{title}}</h1>
      <form ng-submit="save()">
        <input type="text" ng-model="new_space_station.name">
        <button type="submit">Salvar</button>
      </form>
      <ul>
       <li ng-repeat="space_station in space_stations" >
         <form ng-submit="update()" ng-show="current_space_station.id==space_station.id">
           <input type="text" ng-model="current_space_station.name">
           <button ng-click="setCurrent()">Cancelar</button>
           <button type="submit" ng-disabled="buttonDisabled" >Salvar</button>
         </form>
         <span ng-click="setCurrent(space_station)" ng-hide="current_space_station.id==space_station.id">
           {{space_station.name}}
           <button ng-click="remove(space_station)">X</button> 
         </span>
       </li>
      </ul>
    </section>

  </md-content>

